html {
   margin: 0;
   padding: 20px;
}

body, input {
   font-family: 'Alegreya Sans', sans-serif;
}

body {
   font-size: 20px;
   text-align: center;
   color: #F9F9F9;
   background-color: #282C34;
}

a {
   padding: 1px 7px;
   border-radius: 2px;
   background-color: #73C990;
   color: #0B1425;
   font-size:15px;
   text-decoration: none;
}

a:hover {
   background-color: #5DA976;
}

input {
   padding: 7px 10px;
   border: none;
   border-radius: 4px;
   font-size: 20px;
}

h1 {
   margin: 0 0 15px;
   font-weight: 800;
}

.time-label {
   cursor: copy;
   display: inline-block;
   margin: 3px;
   padding: 5px 15px;
   border-radius: 4px;
   background-color: #528BFF;
   font-size: 22px;
}

.note-label {
   padding: 2px 6px;
   border-radius: 3px;
   color: #282C34;
   background-color: #FFFF73;
}

#unixtime-copied, #datetime-copied {
   display: none;
}

#unixtime-to-datetime {
   margin-top:100px;
}

#datetime-to-unixtime {
   margin-top:100px;
}
