html {
   margin: 0;
   padding: 20px;
}

body, input {
   font-family: 'Alegreya Sans', sans-serif;
}

body {
   font-size: 20px;
   text-align: center;
   color: #F9F9F9;
   background-color: #282C34;
}

a {
   padding: 1px 7px;
   border-radius: 2px;
   background-color: #73C990;
   color: #0B1425;
   font-size:15px;
   text-decoration: none;
}

a:hover {
   background-color: #5DA976;
}

input {
   padding: 5px 15px;
   border: 1px solid #E2C08D;
   border-radius: 4px;
   font-size: 22px;
   background-color: transparent;
   color: #F9F9F9;
}

h1 {
   margin: 0;
   font-weight: 400;
   font-size:22px;
}

.time-label {
   cursor: copy;
   display: inline-block;
   margin: 3px;
   padding: 5px 15px;
   border-radius: 4px;
   background-color: #528BFF;
   font-size: 22px;
   text-align: left;
}

.time-label.beige {
   background-color: #E2C08D;
   color: #21252B;
}

.note-label {
   padding: 2px 6px;
   border-radius: 3px;
   color: #282C34;
   background-color: #FFFF73;
}

.unix-width {
   width: 120px;
}

.human-width {
   width: 250px;
}

.convert {
   margin-top: 10px;
}

.convert .left {
   display: inline-block;
}

.convert .middle {
   display: inline-block;
   margin: 0 20px;
}

.convert .right {
   display: inline-block;
}

#footer {
   position: absolute;
   bottom: 10px;
   left: 50%;
   width: 200px;
   margin-left: -100px;
   text-align: center;
}

#footer a {
   color: #5D5D5D;
   background-color: transparent;
}

#footer a:hover {
   color: #F9F9F9;
}
